$flaticon_Demockup-font: "flaticon_Demockup";

@font-face {
    font-family: $flaticon_Demockup-font;
    src: url("./flaticon_Demockup.ttf?943527ded4c907448c49887765f842d3") format("truetype"),
url("./flaticon_Demockup.woff?943527ded4c907448c49887765f842d3") format("woff"),
url("./flaticon_Demockup.woff2?943527ded4c907448c49887765f842d3") format("woff2"),
url("./flaticon_Demockup.eot?943527ded4c907448c49887765f842d3#iefix") format("embedded-opentype"),
url("./flaticon_Demockup.svg?943527ded4c907448c49887765f842d3#flaticon_Demockup") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon_Demockup !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$flaticon_Demockup-map: (
    "asterisk": "\f101",
    "sun": "\f102",
    "star": "\f103",
    "asterisk-1": "\f104",
    "call": "\f105",
    "waning-moon": "\f106",
    "moon": "\f107",
);

.icon-asterisk:before {
    content: map-get($flaticon_Demockup-map, "asterisk");
}
.icon-sun:before {
    content: map-get($flaticon_Demockup-map, "sun");
}
.icon-star:before {
    content: map-get($flaticon_Demockup-map, "star");
}
.icon-asterisk-1:before {
    content: map-get($flaticon_Demockup-map, "asterisk-1");
}
.flaticon-call:before {
    content: map-get($flaticon_Demockup-map, "call");
}
.icon-waning-moon:before {
    content: map-get($flaticon_Demockup-map, "waning-moon");
}
.icon-moon:before {
    content: map-get($flaticon_Demockup-map, "moon");
}
